<h2 class="content-block">Chủ đề</h2>

<div class="add-user btn btn-primary" style="margin-left: 16px; margin-bottom: 8px; font-size: 13px; cursor: pointer"
    (click)="showPpopupAdd()">
    Thêm Chủ đề
</div>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="false" noDatatext="Không có dữ liệu"
    [columnAutoWidth]="true" [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column dataField="TopicName" caption="Tên chủ đề" [width]="200" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="SubjectName" caption="Tên môn học" [width]="300" [hidingPriority]="2">
    </dxi-column>
    
    <dxi-column dataField="Action" caption=" " cellTemplate="ActionTemplate" [hidingPriority]="4">
        <div *dxTemplate="let action of 'ActionTemplate'" class="dis-flex">
            <div class="btn btn-primary" style="cursor: pointer;margin-right: 8px;"
                (click)="showPopupEdit(action.data)">
                Sửa
            </div>
            <div class="btn btn-danger" style="cursor: pointer;" (click)="showPopupDelete(action.data)">
                Xóa
            </div>
        </div>
    </dxi-column>
</dx-data-grid>

<dx-popup height="auto" width="400" [(visible)]="popupVisible" title="Chủ đề">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            <div class="m-row">
                <div class="medium labelinput">
                    Tên chủ đề:
                </div>
                <dx-text-box [(value)]="topic.TopicName"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Tên môn học:
                </div>
                <dx-select-box [(value)]="topic.SubjectID" [dataSource]="listSubject" valueExpr="ID" placeholder="Chọn môn học"
                    displayExpr="SubjectName" searchEnabled="true" searchExpr="SubjectName"></dx-select-box>
            </div>
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupVisible = false">
                Hủy
            </div>
            <div class="btn btn-primary " style="cursor: pointer;" (click)="saveData()">
                Lưu
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup height="auto" width="400" [(visible)]="popupDeleteVisible" title="Xóa chủ đề">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            Bạn có chắc chắn xóa chủ đề này?
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupDeleteVisible = false">
                Hủy
            </div>
            <div class="btn btn-danger " style="cursor: pointer;" (click)="deleteData()">
                Xóa
            </div>
        </div>
    </div>
</dx-popup>