<h2 class="content-block">Người dùng</h2>

<div class="add-user btn btn-primary" style="margin-left: 16px; margin-bottom: 8px; font-size: 13px; cursor: pointer"
    (click)="showPpopupAdd()">
    Thêm người dùng
</div>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="false" noDatatext="Không có dữ liệu"
    [columnAutoWidth]="true" [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column dataField="UserName" caption="Tên đăng nhập" [width]="190" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="FullName" [width]="190" caption="Họ tên" [hidingPriority]="8">
    </dxi-column>
    <dxi-column dataField="Email" caption="Email" [hidingPriority]="6">
    </dxi-column>
    <dxi-column dataField="Mobile" [width]="120" caption="Số điện thoại" [hidingPriority]="5">
    </dxi-column>
    <dxi-column dataField="RoleName" [width]="150" caption="Vai trò" [allowSorting]="false" [hidingPriority]="7">
    </dxi-column>
    <dxi-column dataField="Status" [width]="140" caption="Trạng thái người dùng" cellTemplate="StatusTemplate" [hidingPriority]="3">
        <div *dxTemplate="let status of 'StatusTemplate'" class="dis-flex">
            <div *ngIf="status.value == 1" style="color: green;">
                Đang hoạt động
            </div>
            <div *ngIf="status.value == 4" style="color: gray;">
                Ngừng hoạt động
            </div>
            <div *ngIf="status.value == 3" style="color: orange;">
                Chờ kích hoạt
            </div>
        </div>
    </dxi-column>
    <dxi-column dataField="Action" caption=" " cellTemplate="ActionTemplate" [hidingPriority]="4">
        <div *dxTemplate="let action of 'ActionTemplate'" class="dis-flex">
            <div class="btn btn-primary" style="cursor: pointer;margin-right: 8px;"
                (click)="showPopupEdit(action.data)">
                Sửa
            </div>
            <div class="btn btn-danger" style="cursor: pointer;margin-right: 8px;" (click)="showPopupDelete(action.data)">
                Xóa
            </div>
            <div class="btn btn-warning" style="cursor: pointer;" (click)="lockUser(action.data, 4)" *ngIf="action.data.Status == 1">
                Khóa
            </div>
            <div class="btn btn-success" style="cursor: pointer;" (click)="lockUser(action.data, 1)" *ngIf="action.data.Status == 4">
                Kích hoạt
            </div>
        </div>
    </dxi-column>
</dx-data-grid>

<dx-popup height="auto" width="400" [(visible)]="popupVisible" title="Người dùng">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            <div class="m-row">
                <div class="medium labelinput">
                    Tên đăng nhập:
                </div>
                <dx-text-box [(value)]="user.UserName"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Họ tên:
                </div>
                <dx-text-box [(value)]="user.FullName"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Email:
                </div>
                <dx-text-box [(value)]="user.Email"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Số điện thoại:
                </div>
                <dx-text-box [(value)]="user.Mobile"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Vai trò:
                </div>
                <dx-select-box placeholder="Chọn vai trò" [dataSource]="listRole" [(value)]="user.RoleCode" valueExpr="RoleCode"
                displayExpr="RoleName" searchEnabled="true" searchExpr="RoleName" [disabled]="formMode === 2">
                    
                </dx-select-box>
            </div>
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupVisible = false">
                Hủy
            </div>
            <div class="btn btn-primary " style="cursor: pointer;" (click)="saveData()">
                Lưu
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup height="auto" width="400" [(visible)]="popupDeleteVisible" title="Xóa người dùng">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            Bạn có chắc chắn xóa người dùng này?
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupDeleteVisible = false">
                Hủy
            </div>
            <div class="btn btn-danger " style="cursor: pointer;" (click)="deleteData()">
                Xóa
            </div>
        </div>
    </div>
</dx-popup>