<h2 class="content-block">Lớp học</h2>

<div class="add-user btn btn-primary" style="margin-left: 16px; margin-bottom: 8px; font-size: 13px; cursor: pointer"
    (click)="showPpopupAdd()">
    Thêm lớp học
</div>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="false" noDatatext="Không có dữ liệu"
    [columnAutoWidth]="true" [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column dataField="ClassName" caption="Tên Lớp học" [width]="200" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="ProgramName" caption="Tên chương trình học" [width]="300" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="OwnerName" caption="Người tạo lớp học" [width]="150" [hidingPriority]="2" cellTemplate="OwnerTemplate">
        <div *dxTemplate="let user of 'OwnerTemplate'">
            <div *ngIf="user.value">
                {{user.value}}
            </div>
            <div *ngIf="!user.value">
                --
            </div>
        </div>
    </dxi-column>
    <dxi-column dataField="ClassType" caption="Loại" [width]="150" [hidingPriority]="2" cellTemplate="TypeTemplate">
        <div *dxTemplate="let type of 'TypeTemplate'">
            <div *ngIf="type.value === 1" style="color: green;">
                Hệ thống
            </div>
            <div *ngIf="type.value === 2" style="color: grey;">
                Người dùng tự tạo
            </div>
        </div>
    </dxi-column>
    <dxi-column dataField="Action" caption=" " cellTemplate="ActionTemplate" [hidingPriority]="4">
        <div *dxTemplate="let action of 'ActionTemplate'" class="dis-flex">
            <div class="btn btn-primary" style="cursor: pointer;margin-right: 8px;"
                (click)="showPopupEdit(action.data)">
                Sửa
            </div>
            <div class="btn btn-danger" style="cursor: pointer;" (click)="showPopupDelete(action.data)">
                Xóa
            </div>
        </div>
    </dxi-column>
</dx-data-grid>

<dx-popup height="auto" width="400" [(visible)]="popupVisible" title="Lớp học">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            <div class="m-row">
                <div class="medium labelinput">
                    Tên lớp học:
                </div>
                <dx-text-box [(value)]="class.ClassName"></dx-text-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Chương trình:
                </div>
                <dx-select-box [(value)]="class.ProgramID" [dataSource]="listProgram" valueExpr="ID"
                    displayExpr="ProgramName" searchEnabled="true" searchExpr="ProgramName"></dx-select-box>
            </div>
            <div class="m-row">
                <div class="medium labelinput">
                    Mô tả: 
                </div>
                <dx-text-area [(value)]="class.Decription"></dx-text-area>
            </div>
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupVisible = false">
                Hủy
            </div>
            <div class="btn btn-primary " style="cursor: pointer;" (click)="saveData()">
                Lưu
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup height="auto" width="400" [(visible)]="popupDeleteVisible" title="Xóa Lớp học">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-container">
            Bạn có chắc chắn xóa Lớp học này?
        </div>
        <div class="popup-footer dis-flex" style="float: right;">
            <div class="btn btn-light mr-2" style="cursor: pointer;" (click)="popupDeleteVisible = false">
                Hủy
            </div>
            <div class="btn btn-danger " style="cursor: pointer;" (click)="deleteData()">
                Xóa
            </div>
        </div>
    </div>
</dx-popup>