<div class="position-relative">
    <div class="position-absolute w-100  nav-bar-top">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="app-icon-header pt-1 ml-3 dx-font-l mr-3 d-flex cursor-pointer" (click)="navigate()">
                <fa-icon class="font-28" style="color: chocolate;" [icon]="['fas', 'chalkboard']"></fa-icon>
                <span class="ml-2 font-24">Elearning</span>
            </div>
            <div class="nav-ul-item w-100">
                <!-- item các mục ở đây -->
                <div class="headbar--main-pages w-100 ml-3">
                    <a class="active font-17 mr-3 cursor-pointer" [ngClass]="{'medium text-blue': tabActive === 1}" (click)="navigate()">Trang chủ</a>
                    <a class="font-17 cursor-pointer mr-3" *ngIf="showMyTask" [ngClass]="{'medium text-blue': tabActive === 2}" (click)="navigate('/elearning/client/mytask')">Bài học của tôi</a>
                    <a class="font-17 cursor-pointer" *ngIf="showMyClass" [ngClass]="{'medium text-blue': tabActive === 3}" (click)="navigate('/elearning/client/myclass')">Lớp học của tôi</a>
                </div>

            </div>
            <div class="user-panel mr-3 cursor-hovered cursor-pointer position-relative" (click)="changeOptionContext()">
                <div class="user-info position-absolute back-white" style="top: -20px; background-color: #f2f2f2; z-index: 3;">
                    <div class="image-container">
                        <div class="user-image"></div>
                    </div>
                    <div class="user-name d-flex justify-content-end">
                        <app-user-panel [menuItems]="menuItems" [menuMode]="menuMode" [name]="userName"></app-user-panel></div>
                </div>

            </div>

        </div>
    </div>
</div>