<dx-data-grid id="gridContainer-static" [height]="'70vh'" [dataSource]="listUserStatic" [showBorders]="true">
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Tìm kiếm..."></dxo-search-panel>

    <dxi-column dataField="OrderNumber" [width]="80" caption="STT">
    </dxi-column>

    <dxi-column dataField="FullName" caption="Tên học sinh"
        [width]="250"></dxi-column>

    <dxi-column dataField="Email" caption="Email học sinh">

    </dxi-column>
    <dxi-column dataField="Process" caption="Tiến độ"></dxi-column>
    <dxi-column dataField="LessonQuantity" caption="Số bài đã hoàn thành">
    </dxi-column>
</dx-data-grid>