<div class="pt-3 h-100 main--content container-fluid">

    <div class="d-flex row">
        <!-- sidebar danh sách topic -->
        <div class="t-program-menu t-program-menu_sticked col-3"
            style="width: 100%; position: fixed; top: 80px; left: 38.8px; z-index: 200; margin-bottom: 0px;">
            <div class="back-button_block d-flex cursor-pointer mb-3" (click)="back()">
                <fa-icon class="font-24" [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                <div class="ml-2 font-20">Quay lại</div>
            </div>
            <div class="t-program-menu--item-wrap">
                <div class="t-program-menu--item size-4" [ngClass]="{active: itemTopic.TopicID === currentTopic.TopicID}" *ngFor="let itemTopic of listTopicAndLesson">
                    <a class="t-program-menu--item-link" (click)="switchTopic(itemTopic)">
                        <div class="t-program-menu--item-name">
                            <div class="t-program-menu--item-name--hack"></div>
                            <div class="t-program-menu--item-name--text">{{itemTopic.TopicName}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- phần nội dung trong từng topic, chứa các lesson -->
        <div class="d-flex flex-column lesson-content col-9">
            <div class="lesson" *ngIf="currentTopic">
                <!-- <div class="breadcrumb">
                </div> -->
                <div class="lesson--title bold font-20 pl-5 mb-3 text-left">{{currentTopic.TopicName}}</div>
                <div class="lesson--cards d-flex flex-wrap">
                    <!-- từng item -->
                    <div class="d-flex flex-column justify-content-center cursor-pointer mr-5 mb-3" *ngFor="let itemLesson of currentTopic.ListLeson">
                        <app-grid-lesson-item [lessonItem]="itemLesson"></app-grid-lesson-item>
                    </div>
            </div>
        </div>
    </div>
</div>