:host {
  .card-item {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    position: relative;
    border: 2px solid #00ad9b;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}
