<div class="w-100 h-100 grid-item" (click)="navigateLesson()">
    <div class="grid-item-hover"></div>
    <div class="card-item position-relative" [ngStyle]="{'background-image': 'url(' + lessonItem.Image + ')'}">
        <!-- nút tích nếu task hoàn thành -->
        <fa-icon class="font-28 position-absolute" *ngIf="lessonItem.LessonStatus === 3" style="color: green; top: -12px; right: -4px;"
            [icon]="['fas', 'check-circle']"></fa-icon>

         <!-- ảnh của item    -->
         
    </div>
    <div class="mt-3 text-center medium">{{lessonItem.LessonName}}</div>
</div>
<app-popup-view-lesson *ngIf="visible" [visible]="visible"
    (afterClose)="visible = false"></app-popup-view-lesson>